<% include ../partials/header %>

<div id="all-salts" class="jumbotron jumbotron-short">
  <div class="container">
    <h3 class="header-title">s/<%=salt.name%></h3>
    <p>
      <span class="header-title">
        <%=salt.description%>
      </span>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%salt.posts.forEach(function(post){%>
      <a class="post-link" href="/s/<%=salt.name%>/insalt/<%=post._id%>">
        <div class="card post">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-11">
                <h5 class="card-title post-title"><%=post.title%></h5>
                <p class="card-text">
                  <%-post.content%>
                </p>
              </div>
              <div class="col-lg-1 text-center">
                <i class="far fa-caret-square-up i-vote upvote"></i>
                <span class="votes"><%=post.vote%></span>
                <i class="fas fa-caret-square-down i-vote downvote mt-1"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <%});%>
    </div>

    <!-- Saltiest Salt Card -->
    <div class=" col-lg-4">
      <!-- Page Info -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">s/<%=salt.name%></h5>
          <p class="card-text">
            <%=salt.description%>
          </p>
          <%if (currentUser.joinedSalts.includes(salt._id)){%>
          <a
            id="btn-joined"
            class="btn btn-outline-rocksalt btn-block btn-xl mb-3"
            href="#"
          >
            JOINED
          </a>
          <%}else{%>
          <a
            id="btn-join"
            class="btn btn-outline-rocksalt btn-block btn-xl mb-3"
            href="#"
          >
            JOIN
          </a>
          <%}%>

          <a
            class="btn btn-rocksalt btn-block mb-3"
            href="/s/<%=salt.name%>/insalt/new"
          >
            CREATE INSALT
          </a>
          <%if(currentUser && salt.author.id.equals(currentUser._id)){%>
          <a
            class="btn btn-outline-rocksalt text-rocksalt btn-xl btn-block mb-3"
            href="/s/<%=salt.name%>/edit"
          >
            EDIT
          </a>
          <form action="/s/<%=salt.name%>/?_method=DELETE" method="POST">
            <button class="btn btn-rocksalt text-rocksalt btn-xl btn-block">
              REMOVE
            </button>
          </form>
          <%}%>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
