<% include ./partials/header %>

<div id="salt-of-the-day" class="jumbotron text-center">
  <h1 class="display-4 mb-3 header-title">InSalt of the Day</h1>
  <p class="lead">
    <span>" Yo mama so dumb, she had a car accident in a parking lot "</span>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%salts.forEach(function(salt){%> <%if (salt.posts.length > 0){%>
      <%salt.posts.forEach(function(post){%>
      <a class="post-link" href="/s/<%=salt.name%>/insalt/<%=post._id%>">
        <div class="card post">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-11">
                <p>
                  <a href="/s/<%=salt.name%>" class="post-salt-name"
                    >s/<%=post.salt.saltName%></a
                  >
                </p>
                <h6 class="card-title post-title"><%=post.title%></h6>
                <p class="card-text">
                  <%-post.content%>
                </p>
              </div>
              <div class="col-lg-1 text-center">
                <i class="far fa-caret-square-up i-vote upvote"></i>
                <span class="votes"><%=post.vote%></span>
                <i class="fas fa-caret-square-down i-vote downvote mt-1"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <%})%> <%}%> <%})%>
    </div>

    <!-- Saltiest Salt Card -->
    <div class=" col-lg-4">
      <div class="card title-only mb-3">
        <div class="card-body">
          <h5 class="card-title">SALTIEST SALTS</h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <% for (var i = 0; i < 5;i++){ %>
          <li class="list-group-item">
            Lorem, ipsum dolor. <%}%>
          </li>
        </ul>
        <div class="card-body">
          <a class="btn btn-rocksalt btn-block" href="/s">
            VIEW ALL
          </a>
        </div>
      </div>

      <!-- Page Info -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HOME</h5>
          <p class="card-text">
            Your personal InSalts homepage, come here to check on insalts from
            your favorite salts
          </p>
          <a class="btn btn-rocksalt btn-block mb-3" href="">
            CREATE INSALT
          </a>
          <a class="btn btn-outline-rocksalt btn-block btn-xl" href="">
            CREATE SALT
          </a>
        </div>
        <!-- <div class="card-body"> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
